{% extends "base.html" %}
{% block title %}Kabalar - Password Recovery{% endblock %}
{% block body %}
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Kabalar -
                                Password Recovery</h3></div>
                            <div class="card-body">
                                <p class="lead"> Welcome back {{ user.first_name }}! Your E-mail was confirmed.<br> Please renew your password here: </p><br>
                                <form action="{{ url_for('password_renew', user_name=user.user_name, sent_uuid=sent_uuid) }}" method="POST" novalidate>
                                    {{ form.csrf_token }}
                                    {{ form.new_pass.label }}<br>
                                    <div class="form-floating mb-3">
                                        {{ form.new_pass(class="form-control-meron", id="new_p") }}<br>
                                        {% if form.new_pass.errors: %}
                                            {% for error in form.new_pass.errors %}
                                                <span class=flash_msg>{{ error }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {{ form.new_repeat.label }}<br>
                                    <div class="form-floating mb-3">
                                        {{ form.new_repeat(class="form-control-meron", id="new_r") }}
                                        <span>&nbsp;<i id="new_check" class="fas fa-check green" style="display: none;"></i></span>
                                        {% if form.new_repeat.errors: %}
                                            {% for error in form.new_repeat.errors %}
                                                <span class=flash_msg>{{ error }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    <br>
                                    <span class="smaller">{{ form.show_pass() }}&nbsp;&nbsp;{{ form.show_pass.label }}</span>

                                    </div>
                                    <div class="form-check mb-3" >
                                        <div id="flash">
                                            {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <span class=flash_msg>{{ message }}</span>
                                                {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                        {{ form.submit(class_="btn btn-primary") }}
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <!--  stuff can be placed here - login form footer-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div id="layoutAuthentication_footer">
    {% include "footer.html" %}
</div>
<script src="../../static/js/password_fields.js"></script>
</body>

{% endblock %}

